@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;700&family=League+Spartan:wght@100;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.navigation {
  width: 1320px;
  height: 152px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.navigation .contact-nav {
  width: 100%;
  height: 14px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.navigation .contact-nav .about-us-nav, .navigation .contact-nav .contact-nav-mail {
  font-size: 12px;
  color: #555555;
  text-transform: lowercase;
}
.navigation .contact-nav i {
  margin: 0 4px;
}
.navigation .contact-nav a {
  text-decoration: none;
}
.navigation .bottom-border-nav {
  height: 5px;
  width: 100%;
  position: absolute;
  top: 25px;
  left: 0;
  background-image: url("/src/img/bottom-border-nav.png");
  background-repeat: no-repeat;
  margin-bottom: 5px;
}
.navigation .logo-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #000000;
}
.navigation .logo-header .logo {
  width: 375px;
  height: 100%;
}
.navigation .logo-header .logo .company-logo {
  width: 375px;
}
.navigation .logo-header .menu {
  width: 100%;
  height: 100%;
}
.navigation .logo-header .menu ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  gap: 20px;
  padding-right: 10px;
  list-style: none;
}
.navigation .logo-header .menu ul li {
  height: 100%;
  align-self: center;
  text-transform: uppercase;
}
.navigation .logo-header .menu ul li a {
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  line-height: 100px;
  padding: 10px 20px;
  position: relative;
}
.navigation .logo-header .menu ul li a:hover::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F55C6E;
  z-index: 10;
  position: absolute;
  top: -5px;
  right: 20px;
}
.navigation .logo-header .menu ul li .active {
  font-weight: 700;
}
.navigation .logo-header .menu ul li .active::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F55C6E;
  z-index: 10;
  position: absolute;
  top: -5px;
  right: 20px;
}

.ads-banner-landscape {
  width: 980px;
  height: 120px;
  background-color: #EFF2FB;
  margin: 25px auto 40px;
}
.ads-banner-landscape p {
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-size: 25px;
  line-height: 120px;
  color: #555555;
  display: flex;
  justify-content: center;
}

.recent-post {
  width: 1320px;
  height: 1048px;
}
.recent-post .title-section {
  width: 1320px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.recent-post .title-section .title {
  flex-grow: 0;
  font-size: 48px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  padding-right: 25px;
}
.recent-post .title-section .breakpoint {
  flex-grow: 6;
  height: 5px;
  background-image: url("/src/img/bottom-border-nav.png");
  background-repeat: repeat-y;
  margin-bottom: 5px;
}
.recent-post .intro-big-rp {
  width: 100%;
  height: calc(100% - 68px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.recent-post .intro-big-rp .big-post {
  width: 963px;
}
.recent-post .intro-big-rp .big-post .post-xl {
  width: 963px;
  height: 305px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  border: 1px solid #EFF2FB;
  margin-bottom: 20px;
}
.recent-post .intro-big-rp .big-post .post-xl .xl-post-img {
  width: 360px;
  height: 305px;
  margin-right: 30px;
  position: relative;
}
.recent-post .intro-big-rp .big-post .post-xl .post-categories {
  width: fit-content;
  height: fit-content;
  font-family: "League Spartan", sans-serif;
  font-size: 8px;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  background: linear-gradient(92.19deg, #D93D59 0%, #E87373 100%);
  position: absolute;
  top: 20px;
  left: 20px;
}
.recent-post .intro-big-rp .big-post .post-xl .xl-post-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 30px;
  position: relative;
}
.recent-post .intro-big-rp .big-post .post-xl .xl-post-info .post-xl-title {
  font-size: 30px;
  font-family: "Jost", sans-serif;
  line-height: 36px;
}
.recent-post .intro-big-rp .big-post .post-xl .xl-post-info .short-post {
  font-size: 16px;
  line-height: 26px;
  font-family: "League Spartan", sans-serif;
  color: #555555;
  margin: 15px auto 33px 0;
}
.recent-post .intro-big-rp .big-post .post-xl .xl-post-info .post-date {
  width: 433px;
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  color: #555555;
  text-transform: uppercase;
  padding: 22px 5px 0 0;
  border-top: 1px solid #dddddd;
}
.recent-post .intro-big-rp .big-post .post-xl .xl-post-info .read-post {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  right: 12px;
  background-color: #EFF2FB;
  border: none;
  box-shadow: 0 20px 20px rgba(217, 61, 89, 0.2);
  cursor: pointer;
  transition: 0.2s linear;
}
.recent-post .intro-big-rp .big-post .post-xl .xl-post-info .read-post:hover {
  color: white;
  background: linear-gradient(92.19deg, #D93D59 0%, #E87373 100%);
  box-shadow: 0 20px 20px rgba(217, 61, 89, 0.2);
  transform: scale(1.1);
}
.recent-post .intro-big-rp .small-post {
  flex-basis: calc(100% - 963px);
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.recent-post .intro-big-rp .small-post .post-xs {
  width: 307px;
  height: 259px;
  margin: 0 0 30px auto;
}
.recent-post .intro-big-rp .small-post .post-xs .xs-post-img {
  width: 307px;
  height: 150px;
}
.recent-post .intro-big-rp .small-post .post-xs .post-date {
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  color: #555555;
  text-transform: uppercase;
  padding: 10px 5px;
  border-bottom: 1px solid #dddddd;
}
.recent-post .intro-big-rp .small-post .post-xs .post-title {
  font-family: "Jost", sans-serif;
  color: #000000;
  font-size: 20px;
  margin: 15px auto;
}
.recent-post .intro-big-rp .small-post .view-all {
  border: none;
  border-radius: 20px;
  width: 297px;
  height: 50px;
  margin: 20px 8px 0 auto;
  background: linear-gradient(92.19deg, #D93D59 0%, #E87373 100%);
  box-shadow: 0 20px 20px rgba(217, 61, 89, 0.2);
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: 0.4s ease-in;
}
.recent-post .intro-big-rp .small-post .view-all:hover {
  transform: scale(1.05);
}

.subscribes-input {
  width: 1980px;
  height: 272px;
  line-height: 272px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #555555;
}
.subscribes-input .sub-item {
  width: 1320px;
  height: 272px;
}
.subscribes-input .sub-item .newsletter-title {
  width: 300px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  font-family: "League Spartan", sans-serif;
}
.subscribes-input .sub-item .subs-btn {
  border-radius: 20px;
  border: none;
  width: 307px;
  height: 50px;
  margin: 20px auto 0;
  background: linear-gradient(92.19deg, #D93D59 0%, #E87373 100%);
  box-shadow: 0px 20px 20px rgba(217, 61, 89, 0.2);
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.events {
  width: 1320px;
  height: 516px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 40px 0;
}
.events .title-section {
  width: 1320px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.events .title-section .title {
  flex-grow: 0;
  font-size: 48px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  padding-right: 25px;
}
.events .title-section .breakpoint {
  flex-grow: 6;
  height: 5px;
  background-image: url("/src/img/bottom-border-nav.png");
  background-repeat: repeat-y;
  margin-bottom: 5px;
}
.events .title-section .view-all-small {
  font-family: "Jost", sans-serif;
  width: 120px;
  line-height: 30px;
  color: #555;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.3s linear;
}
.events .title-section .view-all-small:hover {
  transform: scale(1.1);
}
.events .events-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.events .events-post .event-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 420px;
  height: 422px;
}
.events .events-post .event-intro .event-img {
  width: 420px;
  height: 220px;
}
.events .events-post .event-intro .event-title {
  font-family: "Jost", sans-serif;
  color: #000000;
  font-size: 20px;
  margin: 15px 0;
}
.events .events-post .event-intro .event-date-author {
  font-size: 14px;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  color: #555555;
  text-transform: uppercase;
  padding: 10px 5px;
}
.events .events-post .event-intro .read-more {
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  width: 120px;
  line-height: 50px;
  color: #000;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s linear;
  text-align: left;
}
.events .events-post .event-intro .read-more:hover {
  transform: scale(1.1);
}

.footer {
  width: 1320px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  font-family: "Jost", sans-serif;
}
.footer .footer-breakpoint {
  margin: 30px auto;
}
.footer .footer-menu {
  width: 100%;
  height: 89%;
  display: flex;
}
.footer .footer-menu .footer-about-us {
  width: 33%;
  height: 100%;
  font-size: 16px;
  margin: 0 25px 0 0;
}
.footer .footer-menu .footer-about-us .footer-title {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #EFF2FB;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer .categories {
  width: 33%;
  height: 100%;
  font-size: 16px;
}
.footer .categories .categories-title {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #EFF2FB;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer .categories .category-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
.footer .categories .category-button .btn-category {
  margin: 10px 15px 10px 0;
  border: none;
  background-color: transparent;
  color: #555555;
  width: 100px;
  height: 25px;
  text-transform: uppercase;
  text-align: left;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.footer .social-footer {
  width: 33%;
  height: 60%;
  margin-left: 25px;
}
.footer .social-footer .social-footer-title {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #EFF2FB;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer .social-footer .social-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer .social-footer .social-icons .social-icon {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 20px;
  font-size: 30px;
  background-color: #EFF2FB;
  margin: 10px 20px;
  position: relative;
  cursor: pointer;
  transition: 0.4s linear;
  border: none;
  color: #555555;
}
.footer .social-footer .social-icons .social-icon:hover {
  color: #fff;
  background: linear-gradient(92.19deg, #D93D59 0%, #E87373 100%);
  box-shadow: 0 20px 20px rgba(217, 61, 89, 0.2);
}
.footer .copyright {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  border-top: 2px solid black;
  padding: 10px 0;
  color: #555555;
  margin: 10px 5px;
}
.footer .copyright .priv-policy {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  cursor: pointer;
}
.footer .copyright .priv-policy .pp {
  padding: 0 5px;
}
.footer .copyright .priv-policy .term-conditions {
  padding: 0 5px;
}

/*# sourceMappingURL=style.css.map */
